<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Main content -->
<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <table id="listarhs" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <!--<th>ID</th>-->
                                <th>ID</th>
                                <th>CANTIDAD</th>
                                <th>ESTADO</th>
                                <th>FECHA DE AUTORIZACION</th>
                                <th>FECHA DE LA HORA EXTRA</th>
                                <th>JUSTIFICACION</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- Aquí deberías reemplazar este bloque con los datos de tu modelo de persona -->
                            <tr th:each="horaextra, iterStat : ${hs}">
                                <!--<td th:text="${proyecto.id}"></td>-->
                                <td th:text="${horaextra.idHorasExtras}"></td>
                                <td th:text="${horaextra.cantidad}"></td>
                                <td th:text="${horaextra.estado}"></td>
                                <td th:text="${horaextra.fecha_de_autorizacion}"></td>
                                <td th:text="${horaextra.fecha}"></td>
                                <td th:text="${horaextra.justificacion}"></td>
                                <td>
                                    <div><a th:href="@{hs/listar/nuevo/REST}" class="btn btn-primary float-right">Crear horas extras</a></div>

                                    <button type="submit" class="btn btn-success">CREAR</button>
                                    </form>

                                    <!-- Buscar la persona correspondiente al orgpersonaId del proyecto -->
                                    <!--<span th:each="persona : ${personas}" th:if="${persona.id == proyecto.orgpersonaId}" th:text="${persona.nombre}"></span>-->
                                </td>
                            </tr>
                            <!-- Fin del bloque a reemplazar -->
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>