<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crear Horas Extras</title>
</head>
<body>
<h2>Crear Horas Extras</h2>
<form th:action="@{/hs/grabar/REST}" method="post" th:object="${horasextras}">
    <label>Cantidad: <input type="text" th:field="*{cantidad}" required/></label><br/>
    <div class="form-group">
        <label for="estado">Estado</label>
        <select th:field="*{estado}" class="form-control" id="estado">
            <option value="pendiente">Pendiente</option>
        </select>
    </div>
    <label>Justificación: <input type="text" th:field="*{justificacion}" required/></label><br/>
    <button type="submit">Guardar</button>
</form>
</body>
</html>
